body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.point {
  color: rebeccapurple;
}
.first-part {
  padding-left: 15px;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.button {
  text-decoration: none;
  color: rebeccapurple;
  background-color: red;
  padding: 5px 10px;
  border-radius: 4px;
}
.goals {
  display: flex;
  margin: 10%;
  justify-content: space-between;
}
.third-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resize {
  width: 150px;
  height: auto;
}
.goalbox1 {
  width: 33%;
  padding-left: 3.33%;
  padding-right: 3.33%;
  background-color: lightblue;
  border-radius: 20px;
}
.goalbox2 {
  width: 33%;
  padding-left: 3.33%;
  padding-right: 3.33%;
  background-color: wheat;
  border-radius: 20px;
}
.goalbox3 {
  width: 33%;
  padding-left: 3.33%;
  padding-right: 3.33%;
  background-color: thistle;
  border-radius: 20px;
}
.hobbies {
  width: 80%;
  padding-left: 5%;
  display: flex;
}
.hobbies img {
  width: 60%;
}
.academic {
  width: 100%;
  padding-left: 5%;
  display: flex;
}
.academic img {
  width: 70%;
}
#border-image {
  border-left: 4px solid;
  border-image: red;
  border-image-slice: 1;
  border-radius: auto;
}
.lastpart {
  justify-content: center;
}
footer p {
  text-align: center;
}
