body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.point {
  color: rebeccapurple;
}
.first-part {
  padding-left: 15px;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.button {
  text-decoration: none;
  color: rebeccapurple;
  background-color: red;
  padding: 5px 10px;
  border-radius: 4px;
}
